* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "red hat display", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.second-footer{
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-top: 48px;
}

.hero {
  display: flex;
  gap: 10px;
  width: 433.003px;
}

.hero-desktop1, .hero-desktop2 {
  display: none;
}

.hero img {
  width: 208.053px;
}

.text-content {
  width: 305px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.text-content h2 {
  color: var(--color-slate-900, #28283d);
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  line-height: 110%; /* 44px */
}

.text-content p {
  color: var(--color-slate-600, #87879d);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.text-content .button-container {
  display: flex;
  flex-direction: column;
  width: 193px;
  gap: 1rem;
  align-items: center;
}

.text-content .button-container .button-1 {
  padding: var(--spacing-200, 16px) var(--spacing-500, 40px);
  gap: var(--spacing-100, 8px);
  border-radius: 29px;
  border: none;
  color: var(--color-white, #fafafa);
  font-feature-settings: "liga" off, "clig" off;

  font-family: "Red Hat Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 24px */
  background: var(--color-cyan-600, #4d96a9);
}

.text-content .button-container .button-1 span {
  color: var(--color-cyan-300, #8fe3f9);
}

.text-content .button-container .button-2 {
  display: flex;
  padding: var(--spacing-200, 16px) var(--spacing-500, 40px);
  flex-direction: column;
  border-radius: 29px;
  background: var(--color-purple-600, #855fb1);
  color: var(--color-white, #fafafa);
  border: none;
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 900;
  line-height: 150%; /* 24px */
  width: 161px;
}

@media (min-width: 768px) {
  .hero {
    gap: 10px;
    width: 100vw;
  }

  .hero img {
    width: 100%;
  }

  .text-content {
    width: 448px;
    gap: 48px;
  }

  .text-content h2 {
    font-size: 48px;
    line-height: 110%; /* 53px */
  }

  .text-content p {
    font-size: 20px;
    line-height: 150%; /* 30px */
  }

  .text-content .button-container {
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
  }
}





main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 20px;
  width: 1px;
  height: var(--spacing-1000, 80px);
  background: var(--color-slate-300, #d1d1df);
}

.num {
  border-radius: 999px;
  border: 1px solid var(--color-slate-300, #d1d1df);
  background: var(--color-white, #fafafa);
  display: flex;
  width: var(--spacing-700, 56px);
  height: var(--spacing-700, 56px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-collage {
  max-width: 311px;
  max-height: 304px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-container {
  display: flex;
  gap: 10px;
}

.img-container img {
  width: 147px;
  border-radius: var(--spacing-100, 8px);
  height: 144px;
}

.img-container .videocall-desktop, .img-container .videochat-desktop, .img-container .meeting-desktop, .img-container .texting-desktop {
  display: none;
}

.content {
  width: 311px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content h3 {
  color: var(--color-cyan-600, #4d96a9);
  text-align: center;

  font-size: 12px;
  font-weight: 900;
  line-height: 110%; /* 13.2px */
  letter-spacing: 4px;
}

.content h2 {
  color: var(--color-slate-900, #28283d);
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 32px;
  font-weight: 900;
  line-height: 110%;
}

.content p {
  color: var(--color-slate-600, #87879d);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

@media(min-width: 768px) {
  main{
    width: 680px;
  }

  .img-collage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .content{
    width: 445px;
  }

  .content h3{
    font-size: 16px;
    line-height: 110%;
  }

  .content h2{
    font-size: 36px;
    line-height: 110%;
  }

  
}

@media(min-width: 1024px){
  header{
    display: flex;

  }

  .hero{
    display: none;
  }

  .hero-desktop1, .hero-desktop2 {
    display: block;
    position: absolute;
  }

  .hero-desktop1{
    left: 0;
    top: 10%
  }

  .hero-desktop2{
    right: 0;
    top: 10%;
  }

/* main */
.img-container .meeting, .img-container .texting, .img-container .videocall, .img-container .videochat{
  display: none;
}

.img-container .videocall-desktop, .img-container .videochat-desktop, .img-container .meeting-desktop, .img-container .texting-desktop{
  display:block;
  width: 256px;
  height: 256px;

}

}




footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

footer .number{
  position: relative;
  top: 40px;
  z-index: 2;
}
footer .hero {
  width: 100%;
  height: 374px;
}

footer .hero .footer {
  width: 100%;
  height: 100%;
}

footer .hero .footer-tablet, .hero .footer-desktop { 
  display: none;
}

.mask {
  position: absolute;
  width: 100%;
  height: 374px;
  background-color: #4d96a9;
  opacity: 0.8;
}

.text-content2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  top: 40%;
}

.text-content2 h2 {
  color: var(--color-white, #FAFAFA);
text-align: center;
width: 311px;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 110%;
}

.text-content2 p {
  color: var(--color-white, #FAFAFA);
  text-align: center;
  width: 311px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}



.text-content2 button {
  padding: var(--spacing-200, 16px) var(--spacing-500, 40px);
  border-radius: 29px;
  background: var(--color-purple-600, #855fb1);
  border: none;
  color: white;
}

@media(min-width: 768px){



  footer .hero .footer {
   display: none;
  }
  
  footer .hero .footer-tablet{
    display: block;
    width: 100%;
    height: 374px;
  }

  .text-content2 p{
    width: 445px;
  }

  .text-content2 h2{
    width: 545px;
    font-size: 36px;
  }
}



@media(min-width:1024px){
   footer{
      display: none;
  }

  .second-footer{
    position: relative;
    display: block;
  }

  .second-footer .number{
    position: relative;
    top: 40px;
    z-index: 2;
  }
  
  .second-footer .footer-hero{
    width: 100vw;
  }
  .second-footer .footer-hero img{
    height: 100%;
    width: 100%;

  }

  .second-footer .footer-hero .mask{
    position: relative;

  }


  .second-footer .footer-hero .masks{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4d96a9;
    opacity: 0.8;
    top: 0px;
  }

  .text-content2{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    left: 6%;
    z-index: 4;
    display: flex;
    flex-direction: row;
    top: 60%;
  }

  .text-content2 h2{
    width: 445px;
  }

  .text-content2 p{
    width: 320px;
    text-align: left;
  }
}


